@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('PlusJakartaSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('PlayfairDisplay-VariableFont_wght.ttf');
}
